extends layout.pug

block content
    each story in stories
        div(id=`story-container-${story.id}`)
            h2(id=`story-title-${story.id}`)
                a(href=`/stories/${story.id}`)=story.title
            h2(id=`story-author-${story.id}`)=story.author.fullName
            h3=story.createdAt.toLocaleDateString('en-US', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' })
            p(id=`story-content-${story.id}`)=story.content
