extends layout.pug

append head
    link(rel="stylesheet" href="/stylesheets/stories.css")
    link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap" rel="stylesheet")

block content
    each story in stories
        div(class='stories-section')
            div(id=`story-container-${story.id}` class='story')
                div(class='story-body')
                    div(class='name-and-date')
                        h3(id=`story-author-${story.id}` class='story-author')=story.author.fullName
                        h3(class='story-date')=story.createdAt.toLocaleDateString('en-US', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' })
                    h2(id=`story-title-${story.id}` class='story-title')
                        a(href=`/stories/${story.id}`)=story.title
                    p(id=`story-content-${story.id}` class='story-content')=story.content
                div(class='story-body-img')
                    img(id=`story-img-${story.id}` class='story-img' src=`${story.imgUrl}`)
