extends layout.pug

block content
    div
        h1=story.title
        h2=story.author.fullName
        h3=story.createdAt.toLocaleDateString('en-US', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' })
        a(href=`/stories/${story.id}/edit`) Edit
        img(src=`${story.imgUrl}`)
        p=story.content
    div    
    form(action=`/comments` method='post')
        input(type="hidden" name="_csrf" value=csrfToken)
        input(type="hidden" name='storyId' value=storyId)
        label Comments 
        input(type="text" name='content')
        button(type='button') Cancel
        button(type='submit') Create
    each comment in story.Comments
        div(id=`comments-container-${comment.id}`)
            p(id=`comments-author-${comment.id}`)=comment.User.fullName
            p(id=`comments-content-${comment.id}`)=comment.content